
*{
    box-sizing:border-box;
    margin: 0px;
}

h1{
  text-align: center;
}

.pTitleFirst{
    float: right;
    border: 3px solid black;
    background-color: aquamarine;
}

.pTitleSecond{
    float: right;
    border: 3px solid black;
    background-color: coral;
}

.pTitleThird{
    float: right;
    border: 3px solid black;
    background-color: deepskyblue;
}



@media (min-width: 992px) {

    .menu{
        background-color: lightgray;
        border: 3px solid black;
        float: left;
        width: 31.3%;
        overflow: hidden;
        margin: 1%;
    }

    .pContent{
        clear: right;
        padding: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {


    .menu{
        background-color: lightgray;
        border: 3px solid black;
        float: left;
        width: 48%;
        margin: 1%;
    }

   .menu.third{
        background-color: lightgray;
        border: 3px solid black;
        float: left;
        width: 98%;
        margin: 1%;
    }

    .pContent{
        clear: right;
        padding: 10px;
    }

    
}

@media (min-width: 576px) and (max-width: 767px) {

    .menu{
        background-color: lightgray;
        border: 3px solid black;
        float: left;
        width: 98%;
        margin: 1%;
    }

    
    .pContent{
        clear: right;
        padding: 10px;
    }

    
}

@media (max-width: 576px) {


    .menu{
        background-color: lightgray;
        border: 3px solid black;
        padding: 10px;
        float: left;
        width: 98%;
        margin: 1%;
    }

    
    .pContent{
        clear: right;
        padding: 10px;
    }

    
}
